@import url('https://fonts.googleapis.com/css2?family=Spinnaker&family=Tilt+Warp&display=swap');


/* variáveis - variable */ 
@tittle: 'Spinnaker', sans-serif;
@text: 'Tilt Warp', cursive;
@first: #E05E00;
@second: black;
@f-size: 18px;
@photo1: 300px;

/* mixins */
.center-space (@display: flex, @justify: center, @align: center) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: @f-size;
}



header {
    margin: auto;
    width: 90%;
    height: 50px;
    display: flex;

    nav {
        padding-top: 30px;
        width: 100%;
        .center-space
    }

    li {
        list-style: none;
    }
    
    a {
        font-size: 40px;
        &:hover {
            color: @first;
        }
    }
}


.images {
    padding-top: 30px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images img {
    width: @photo1;
}

.maps {
    background-color:@first;
    display: flex;
}

.frame-maps {
    margin: auto;
}