@import url('https://fonts.googleapis.com/css2?family=Spinnaker&family=Tilt+Warp&display=swap');


/* variáveis - variable */ 
@tittle: 'Spinnaker', sans-serif;
@text: 'Tilt Warp', cursive;
@first: #E05E00;
@second: black;
@f-size: 18px;
@photo1: 338px;

/* mixins */
.center-space (@display: flex, @justify: space-between, @align: center) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: @f-size;
}


/* menu float / menu flutuante */

header {
    margin: auto;
    padding-top: 15px;
    width: 95%;
    height: 50px;
    display: flex;

    nav {
        width: 100%;
        .center-space
    }

    .container-menu {
        display: none;
    }

    .menu {
        height: 150px;
        width: 110px;
        background-color: #E05E00;
        color: white;
        position: absolute ;
        top: 70px;
        left: 8px;
        z-index: 999;

        .menu ul {
            position: absolute !important ;
        }
    }

    .material-symbols-outlined {
        font-size: 2.5rem;
        color: @first;
    }

    #burguer{
        display: block;
    }

    li {
        list-style: none;
        padding-bottom: 15px;
    }

    a {
        font-family: @tittle;
        text-decoration: none;
        color: rgb(255, 255, 255);
        &:hover {
            color: white;
            border-bottom: 1px solid white;
        }
    }

    h1 {
        font-family: @text;
        margin: auto;
        font-size: 2rem;
    }

    .icon a {
        font-size: 40px;
        color: green;
        &:hover {
            color: @first;
        }
    }
}

/* images / imagens */

.slider {
    margin: auto;
    width: 350px;
    height: 250px;
    overflow: hidden;

    .slides {
        display: flex;
        padding-top: 40px;
        width: 200px;
        height: 250px;
    }

    .slides input {
        display: none;
    }

    .slide {
        width: 200%;
        position: relative;
    }

    .slide img {
        width: 350px;
    }
}

.manual-navigation {
    position: absolute;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.manual-btn {
    border: 2px solid @first;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;        
}

.manual-btn:hover {
    background-color: @first;
}
        
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -350px;
}

#radio3:checked ~ .first {
    margin-right: -700px;
}

#radio4:checked ~ .first {
    margin-left: -1050px;
}   

.navigation-auto div {
    border: 2px solid @first;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    &:not(:last-child){
        margin-right: 20px;
    }
}

.navigation-auto {
    position: absolute;
    width: 350px;
    margin-top: 220px;
    display: flex;
    justify-content: center;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: @first;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: @first;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: @first;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: @first;
}

/* information / informações */

.info {
    width: 95%;
    margin: auto;
    margin-top: 50px;
    text-align: justify;
    font-family: @tittle;
}

#mercado {
    color: @first;
    text-decoration: none;
}

#whats {
    color: green;
    text-decoration: none;
}

.images-center {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    img {
        margin: auto;
        width: 340px;
    }
}

/* footer / rodapé */

.container-footer {
    background-color: @first;

    .maps {
        display: flex;
        margin-top: 40px;
    }

    .frame-maps {
        margin: auto;
        margin-top: 15px;
    }
}

/* links footer / links rodapé */

.links {
    list-style: none;
    margin-top: 40px;
    margin-left: 10px;

    li {
        padding-bottom: 10px;
    }
    
    li a {        
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
        &:hover {
            border-bottom: 2px solid white;
        }
    }
}

/* icons / icones */

.icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        font-size: 1.9rem;
        padding: 15px;
        color: white;
    }
}

.register {
    width: 95%;
    margin: 20px auto 0 auto;
    padding-bottom: 20px;
    font-size: 0.9rem;
    
    p {
        text-align: center;
        color: white;
    }

    b {
        color: black;
    }
}